<table border="0" width="100%">
  <tr>
    <td style="width:33%;">&nbsp;<td>

    <td style="width:34%;">
      <div style="text-align:left;margin-left:2%; line-height:2em;color:#2095C9">
        <h1>Editing Comments</h1>
      </div>
      <%= render 'form' %>
      <%= link_to 'Show', @comment %> |
      <%= link_to 'Back to Posts', posts_path %>
    </td>

    <td style="width:33%;">&nbsp;</td>
  </tr>
</table>
