<table border="0" width=100%>
  <tr>
    <td style="width:33%;">&nbsp;<td>

    <td style="width:34%;">
      <h1>Editing Comment</h1>
      <%= render 'form' %>
      <%= link_to 'Show', @comment %> |
      <%= link_to 'Back', posts_path %>
    </td>

    <td style="width:33%;">&nbsp;</td>
  </tr>
</table>
